body {
    background-image: url("assets/vwrabbit.jpg");

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: yellow;
}

header figure {
    width: 15rem;
}

header figure img {
    /* min-width: 20rem;
    max-width: 20rem; */
    width: 100%;
    border-radius: 5px;
}

/*main {
    display : flex;
}
*/

.cars {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
    gap: 2rem;
    margin-bottom: 3rem;
    /* border: 2px solid green; */
}

.car {
    background-color: rgb(239, 227, 227);
    box-shadow: 3px 4px 4px 0px #00000040;
    display: grid;
    grid-column: span 4;
    align-items: center;
    border-radius: 1px;
    /* border: 2px solid red; */
}

figure {
    display: flex;
    justify-content: center;
    margin: 0;
    background-size: cover;
    background-position: center;
    text-align: center;
    grid-column: span 4;
    /* border: 2px solid black; */
}

.pic {
    width: 35rem;
}